body {
  display: grid;
  place-items: center;
  background: plum;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
}

.grape {
  background: #6b0374;
  border-radius: 50%;
  position: absolute;
  width: 110px;
  height: 130px;
  border: 1px solid #550059;
}

.shadow {
  position: absolute;
  width: 110px;
  height: 130px;
  border-radius: 100%;
  border-right: 8px solid #550059;
}

.eyes {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.eyes-left {
  left: 160px;
  top: 90px;
}

.eyes-right {
  right: 190px;
  top: 90px;
}

.container-grape-1 {
  position: relative;
  width: 600px;
  height: 120px;
}

.grape-1 {
  left: 125px;
}

.grape-2 {
  left: 234px;
}

.grape-3 {
  right: 150px;
}

.container-grape-2 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -27px;
}

.grape-4 {
  left: 80px;
}

.grape-5 {
  left: 180px;
}

.grape-6 {
  right: 210px;
}

.grape-7 {
  right: 110px;
}

.container-grape-3 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -55px;
}

.grape-8 {
  left: 120px;
}

.grape-9 {
  left: 225px;
}

.grape-10 {
  right: 160px;
}

.container-grape-4 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -85px;
}

.grape-11 {
  left: 170px;
}

.grape-12 {
  right: 220px;
}

.grape-13 {
  top: 360px;
  left: 220px;
}
