@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
body {
  background: plum;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  height: 100vh;
}

.text {
  position: absolute;
  font-family: "Henny Penny", cursive;
  font-size: 22px;
  color: #6b0374;
  left: 72%;
  top: 68%;
  animation: bounce-in-right 5s ease-in-out;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.name {
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.container-sheets {
  position: absolute;
  width: 500px;
  height: 100px;
}

.sheets {
  position: absolute;
  background: #299100;
  border-left: 12px solid #06631a;
  border-radius: 300px 3000px 300px 3000px;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 10px rgb(0, 0, 0, 0.22);
  width: 200px;
  height: 150px;
  animation: sheets 6s alternate infinite;
}

.sheets-1 {
  transform: rotate(10deg);
  top: -14rem;
}

.sheets-2 {
  transform: rotate(55deg);
  left: 5rem;
  top: -15rem;
}

.sheets-3 {
  right: 7rem;
  top: -15rem;
  transform: rotate(60deg);
}

.sheets-4 {
  right: 2rem;
  top: -15rem;
  transform: rotate(100deg);
}

@keyframes sheets {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

.container-face {
  position: absolute;
  width: 600px;
  height: 400px;
}

.lashes {
  position: relative;
  width: 20px;
  height: 60px;
  border-radius: 100%;
  border-right: 6px solid #000000;
  animation: close_eyes 5s alternate infinite;
}

.lashes-left {
  position: absolute;
  left: 220px;
  top: -76px;
  transform: rotate(110deg);
}

.lashes-left-1 {
  left: 85px;
  top: 80px;
}

.lashes-left-2 {
  left: 100px;
  top: 30px;
}

.lashes-left-3 {
  left: 120px;
  top: -35px;
}

.lashes-right {
  position: absolute;
  right: 120px;
  top: 104px;
  transform: rotate(75deg);
}

.lashes-right-1 {
  right: 85px;
  top: 90px;
}

.lashes-right-2 {
  right: 104px;
  top: 25px;
}

.lashes-right-3 {
  right: 120px;
  top: -25px;
}

.eyes {
  position: absolute;
  clip-path: circle(50%);
  background: white;
  border-radius: 50%;
  border: 2px solid #3d2314;
  width: 90px;
  height: 90px;
}

.eyes-left {
  left: 168px;
  top: 78px;
}

.eyes-right {
  right: 182px;
  top: 78px;
}

.eyes-medium {
  position: absolute;
  background: #3d2314;
  border-radius: 50%;
  border: 2px solid #3d2314;
  width: 80px;
  height: 80px;
  border-top: 10px solid #5a3131;
  animation: move 5s alternate infinite;
}

.eyes-medium-left {
  left: 25px;
  top: 15px;
}

.eyes-medium-right {
  right: 25px;
  top: 15px;
}

.iris_bottom {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: blink 1s alternate infinite;
}

.iris-bottom-left {
  left: 35px;
  top: 30px;
}

.iris-bottom-right {
  right: 37px;
  top: 30px;
}

.iris_top {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: blink 1s alternate infinite;
}

.iris-top-left {
  left: -4px;
  top: -2px;
}

.iris-top-right {
  right: -4px;
  top: -2px;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.circle-shadow {
  position: absolute;
  background: #6b0374;
  border-radius: 50%;
  width: 60px;
  height: 40px;
}

.circle-shadow-left {
  top: 55px;
}

.circle-shadow-right {
  top: 55px;
  right: -5px;
}

.mouth {
  clip-path: circle(50% at 50% 0%);
  border: 1px solid #3d2314;
  position: absolute;
  background: black;
  width: 130px;
  height: 130px;
  top: 190px;
  left: 226px;
}

.tongue {
  position: absolute;
  background: #ff0404;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: move 5s alternate infinite;
}

.tongue-left {
  left: 30px;
  top: 35px;
}

.tongue-right {
  right: 30px;
  top: 35px;
}

.container-grape {
  position: relative;
  width: 600px;
  height: 400px;
}

.grape {
  background: #6b0374;
  border-radius: 50%;
  position: absolute;
  width: 110px;
  height: 130px;
  animation: move 5s alternate infinite;
  box-shadow: 5px 16px 10px rgb(0, 0, 0, 0.3);
}

.container-grape-1 {
  position: absolute;
  top: 1rem;
}

@keyframes move {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
}

.grape-1 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  left: 125px;
}

.grape-2 {
  border-right: 12px solid #550059;
  left: 234px;
}

.grape-3 {
  border-right: 12px solid #550059;
  right: -29rem;
}

.container-grape-2 {
  position: absolute;
  top: -27px;
}

.grape-4 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  left: 80px;
  top: 8rem;
}

.grape-5 {
  box-shadow: none;
  left: 12rem;
  top: 8rem;
}

.grape-6 {
  box-shadow: none;
  right: -25rem;
  top: 8rem;
}

.grape-7 {
  border-right: 12px solid #550059;
  right: -31rem;
  top: 8rem;
}

.container-grape-3 {
  position: absolute;
  top: -55px;
}

.grape-8 {
  border-left: 12px solid #550059;
  left: 120px;
  top: 15rem;
}

.grape-9 {
  box-shadow: none;
  left: 14.5rem;
  top: 15rem;
}

.grape-10 {
  border-right: 12px solid #550059;
  right: -28rem;
  top: 15rem;
}

.container-grape-4 {
  position: absolute;
  top: -85px;
}

.grape-11 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  left: 11rem;
  top: 22.5rem;
}

.grape-12 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  right: -25rem;
  top: 22.5rem;
}

.grape-13 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  top: 360px;
  left: 14rem;
}
