@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
body {
  display: grid;
  place-items: center;
  background: plum;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  height: 54vh;
}

.text {
  position: absolute;
  font-family: "Henny Penny", cursive;
  font-size: 22px;
  color: #6b0374;
  left: 38rem;
  top: 23rem;
  animation: bounce-in-right 5s ease-in-out;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.name {
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.container-sheets {
  position: absolute;
  width: 600px;
  top: 30px;
}

.sheets {
  position: absolute;
  background: #299100;
  border-left: 12px solid #06631a;
  border-radius: 300px 3000px 300px 3000px;
  box-shadow: 0 19px 38px rgb(0, 0, 0, 0.3), 0 15px 10px rgb(0, 0, 0, 0.22);
  width: 200px;
  height: 150px;
  animation: sheets 6s alternate infinite;
}

.sheets-1 {
  left: 50px;
  top: -110px;
  transform: rotate(10deg);
}
.sheets-2 {
  left: 100px;
  top: -130px;
  transform: rotate(55deg);
}

.sheets-3 {
  right: 185px;
  top: -130px;
  transform: rotate(60deg);
}
.sheets-4 {
  right: 100px;
  top: -100px;
  transform: rotate(100deg);
}

@keyframes sheets {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

.grape {
  background: #6b0374;
  border-radius: 50%;
  position: absolute;
  width: 110px;
  height: 130px;
  animation: move 5s alternate infinite;
  box-shadow: 5px 16px 10px rgb(0, 0, 0, 0.3);
  /* border: 1px solid #550059; */
}

.tabs {
  position: relative;
  width: 20px;
  height: 60px;
  border-radius: 100%;
  border-right: 6px solid #000000;
  animation: close_eyes 5s alternate infinite;
}

.tabs-left {
  position: absolute;
  left: 220px;
  top: -85px;
  transform: rotate(110deg);
}

.tabs-left-1 {
  left: 85px;
  top: 80px;
}

.tabs-left-2 {
  left: 100px;
  top: 30px;
}

.tabs-left-3 {
  left: 120px;
  top: -35px;
}

.tabs-right {
  position: absolute;
  right: 130px;
  top: 100px;
  transform: rotate(75deg);
}

.tabs-right-1 {
  right: 85px;
  top: 90px;
}

.tabs-right-2 {
  right: 104px;
  top: 25px;
}

.tabs-right-3 {
  right: 120px;
  top: -25px;
}

.eyes {
  position: absolute;
  clip-path: circle(50%);
  background: white;
  border-radius: 50%;
  border: 2px solid #3d2314;
  width: 90px;
  height: 90px;
}

.eyes-left {
  left: 165px;
  top: 70px;
}

.eyes-right {
  right: 190px;
  top: 70px;
}

.eyes-medium {
  position: absolute;
  background: #3d2314;
  border-radius: 50%;
  border: 2px solid #3d2314;
  width: 80px;
  height: 80px;
  border-top: 10px solid #5a3131;
  animation: move 5s alternate infinite;
}

.eyes-medium-left {
  left: 25px;
  top: 15px;
}

.eyes-medium-right {
  right: 25px;
  top: 15px;
}

.iris_bottom {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: blink 1s alternate infinite;
}

.iris-bottom-left {
  left: 35px;
  top: 30px;
}

.iris-bottom-right {
  right: 37px;
  top: 30px;
}

.iris_top {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: blink 1s alternate infinite;
}

.iris-top-left {
  left: -4px;
  top: -2px;
}

.iris-top-right {
  right: -4px;
  top: -2px;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.circle-shadow {
  position: absolute;
  background: #6b0374;
  border-radius: 50%;
  width: 60px;
  height: 40px;
}

.circle-shadow-left {
  top: 55px;
}

.circle-shadow-right {
  top: 55px;
  right: -5px;
}

.mount {
  clip-path: circle(50% at 50% 0%);
  border: 1px solid #3d2314;
  position: absolute;
  background: black;
  width: 130px;
  height: 130px;
  top: 190px;
  left: 221px;
}

.tongue {
  position: absolute;
  background: #ff0404;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: move 5s alternate infinite;
}

.tongue-left {
  left: 30px;
  top: 35px;
}

.tongue-right {
  right: 30px;
  top: 35px;
}

.container-grape-1 {
  position: relative;
  width: 600px;
  height: 120px;
}

@keyframes move {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
}

.grape-1 {
  left: 125px;
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
}

.grape-2 {
  border-right: 12px solid #550059;
  left: 234px;
}

.grape-3 {
  right: 150px;
  border-right: 12px solid #550059;
}

.container-grape-2 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -27px;
}

.grape-4 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  left: 80px;
}

.grape-5 {
  box-shadow: none;
  left: 180px;
}

.grape-6 {
  box-shadow: none;
  right: 210px;
}

.grape-7 {
  border-right: 12px solid #550059;
  right: 110px;
}

.container-grape-3 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -55px;
}

.grape-8 {
  border-left: 12px solid #550059;
  left: 120px;
}

.grape-9 {
  box-shadow: none;
  left: 225px;
}

.grape-10 {
  border-right: 12px solid #550059;
  right: 160px;
}

.container-grape-4 {
  position: relative;
  width: 600px;
  height: 120px;
  top: -85px;
}

.grape-11 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  left: 170px;
}

.grape-12 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  right: 220px;
}

.grape-13 {
  border-left: 12px solid #550059;
  border-right: 12px solid #550059;
  top: 360px;
  left: 220px;
}
